
@{
    ViewBag.Title = "AboutUs";
   // Layout = "~/Views/Shared/CustomLayout.cshtml";
}

<h2>AboutUs</h2>
@{
    ViewBag.msg = "Welcome to About Page ";
}

@section name
{
    <a class="nav-link" href="#">Email</a>
    <a class="nav-link" href="#">Facebook</a>
}