
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>About</h2>


@section name
{
    <a class="nav-link" href="#">Email</a>
    <a class="nav-link" href="#">Facebook</a>
}