<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="~/Scripts/bootstrap.js"></script>

</head>
<body>
    <nav class="navbar navbar-expand bg-info navbar-dark">
        <a class="navbar-brand" href="#">Online Shop</a>
        <div class="col-8">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/Product/Index">Product</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Brand/Index">Brand</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Category/Index">Categories</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid">
        @RenderBody()
    </div>
</body>
</html>
